@import "../../../../src/scss/abstracts/all.scss";

.tylt_cau {
  &_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 5vh;
    gap: 10%;
    &_left {
      width: 60%;
      text-align: left;
      min-width: 750px;
      &_title {
        text-transform: uppercase;
        color: $tylt-blue;
        font-family: $secondary-font-family;
      }
      h1 {
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        text-align: left;
        font-size: 30px;
        color: black;
        span {
          color: $tylt-orange;
        }
      }
      &_text {
        color: black;
        font-size: 15px;
        font-style: italic;
        p {
          margin-bottom: 5px;
        }
      }
    }
    &_right {
      width: auto;
      border: 2px solid black;
      border-radius: 30px;
      overflow: hidden;
      max-height: 500px;
      img {
        object-fit: cover;
        object-position: center center;
      }
    }
    @include breakpoints(sm, max) {
      flex-direction: column;
      &_left {
        min-width: fit-content;
        &_title {
          font-size: 12px;
        }
        h1 {
          font-size: 20px;
        }
        &_text {
          font-size: 12px;
        }
      }
    }
  }
  &_bot {
    display: flex;
    gap: 20px;
    flex-direction: column;
    &_cardmarket {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 60px 30px 1fr 20px;
      position: relative;
      gap: 5px;
      &_link {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 5;
      }
      &_banner {
        grid-column: 1 / 4;
        grid-row: 1 / 5;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        border: 2px solid black;
        &:after {
          content: "";
          background: linear-gradient(90deg, $black 0%, transparent 100%);
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 2;
          top: 0;
        }
      }
      h3 {
        grid-column: 1 / 3;
        grid-row: 2;
        text-align: left;
        padding-left: 40px;
        z-index: 3;
        color: white;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      &_text {
        grid-column: 1 / 3;
        grid-row: 3;
        text-align: left;
        padding-left: 40px;
        z-index: 3;
        color: white;
        transition: all 0.5s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      &_button {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(0%, -50%);
        padding: 5px 30px;
        z-index: 3;
        background-color: $tylt-jaune;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius: 30px;
        text-transform: uppercase;
        font-family: $secondary-font-family;
        color: black;
        margin-right: 30px;
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      &:hover {
        h3 {
          padding-left: 80px;
        }
        .tylt_cau_bot_cardmarket_text {
          padding-left: 80px;
        }
        .tylt_cau_bot_cardmarket_button {
          letter-spacing: 1px;
        }
      }
      @include breakpoints(sm, max) {
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 15vh auto auto 40px 20px;
        &_banner {
          grid-column: 1 / 4;
          grid-row: 1 / 6;
          &:after {
            background: linear-gradient(0deg, $black 0%, transparent 100%);
          }
          img {
            height: 100%;
            object-fit: cover;
          }
        }
        h3 {
          grid-column: 2;
          grid-row: 2;
          padding-left: 0px;
        }
        &_text {
          grid-column: 2;
          grid-row: 3;
          padding-left: 0;
          min-height: 200px;
        }
        &_button{
          position: relative;
          grid-column: 2;
          grid-row: 4;
          width: 100%;
          font-size: 12px;
          text-align: center;
          margin-right: 0;
        }
      }
    }
  }
}
