$black: #262626;
$white: #FFFFFF;
$tylt-blue: #1C91F9;
$tylt-orange: #F77B0D;
$tylt-jaune: #F6CC67;

:root{
    --orange : #FF5F01;
    --green : rgb(19, 192, 91);
    --red : red;
    --grey: #979797;
    --grey-l : #cdcdcd;
    --grey-ll : #e7e7e7;
    --white: #fffcfc;
    --black: #262626;
}