@mixin declare-font-face($font-family, $font-path, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    src: url("#{$font-path}.ttf") format("truetype");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

// @font-face {
//   font-family: "avega";
//   src:
//     url("../fonts/Avega-Italic.woff2") format("woff2"),
//     url("../fonts/Avega-Italic.woff") format("woff"),
//     url("../fonts/Avega-Italic.ttf") format("truetype");
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }
@import url('https://db.onlinewebfonts.com/c/51fc10effb220cc596e4a1715b98114d?family=Avega');
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
// Font Family
$primary-font-family: "Merriweather Sans", sans-serif;
$secondary-font-family: "Avega", sans-serif;

// Font Size
$base-font-size: 16px;

// Line Height
$base-line-height: 1.4;
$heading-line-height: 1.2;

/**
 * Fontfaces
 * When you are preloading fonts make sure that what is preloaded matches with the src defined in your
 * @font-face rules
 * https://nooshu.github.io/blog/2021/01/23/the-importance-of-font-face-source-order-when-used-with-preload/
 */
/*@include declare-font-face("Libre Franklin", "../fonts/LibreFranklin-Regular");
@include declare-font-face("Libre Franklin", "../fonts/LibreFranklin-Bold", 700);
@include declare-font-face("Great Vibes", "../fonts/GreatVibes-Regular", 500);*/
