.woocommerce-checkout{
    button.wc-block-components-button{
        border-radius: 15px;
        background-color: $tylt-blue;
        font-family: $secondary-font-family;
    }
.wp-block-woocommerce-checkout-order-summary-block{
    font-family: $secondary-font-family;
    .wc-block-components-product-name{
        font-family: $primary-font-family;
    }
    .wc-block-components-product-metadata{
        display: none;
    }
}
}
.woocommerce-cart{
    .wp-block-woocommerce-empty-cart-block{
        .wc-block-cart__empty-cart__title.with-empty-cart-icon{
            &::before{
                display: none;
            }
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            margin: 20px 0px;
            &.has-text-align-center{
                a{
                    background-color: $tylt-jaune;
                    border: 1px solid $black;
                    padding: 5px 20px;
                    border-radius: 30px;
                    font-family: $secondary-font-family;
                    color: $white;
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}