footer {
    display: flex;
    background-color: $black;
    border-radius: $border-radius;
    padding: 60px 30px 20px;
    color: $white;
    flex-wrap: wrap;
    width: 100%;
    text-transform: uppercase;
    gap: 30px;
    background-image: url('../image/footer_bg.svg');
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: bottom left;
    justify-content: center;

    @include breakpoints(lg) {
        justify-content: flex-start;
        padding: 60px 70px 20px;
    }

    .left {
        display: flex;
        width: 100%;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include breakpoints(lg) {
            text-align: left;
            width: 50%;
            align-items: flex-start;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            width: 100%;

            @include breakpoints(lg) {
                width: 100%;
                align-items: flex-start;
            }
        }

        .search {
            width: fit-content;
        }

        .info {
            font-size: 1em;
        }

        .big {
            font-size: 1.2em;

        }

        .tylt-button {
            width: 70%;
            min-width: 300px;

            @include breakpoints(lg) {
                width: 350px;
            }
        }
    }

    .right {
        border-left: none;
        width: auto;

        @include breakpoints(lg) {
            border-left: 3px solid $white;
        }

        nav {
            height: 100%;

            ul {
                height: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 5px;

                li {
                    text-align: center;
                    margin-left: 0px;

                    @include breakpoints(lg) {
                        text-align: left;
                        margin-left: 20px;
                    }

                    a,
                    a:visited {
                        color: $white;
                    }
                }
            }
        }
    }

    .under {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        .socials {
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 15px;
            a{
                transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                &:hover{
                    rotate: 15deg;
                }
            }

            img {
                width: 25px;
                aspect-ratio: 1/1;
            }
        }

        .cpr {

            width: 100%;
            text-align: center;
            justify-content: center;
            font-size: 12px;

            a,
            a:visited {
                color: $white;
            }
        }
    }

}