.variation-dropdown {
    width: 100%;
    padding: 10px 5px;
    font-size: 12px;
    height: 40px;

    &-container {
        margin-bottom: 10px;
    }
}

.main-parent-category-template,
.intermediate-category-template,
.final-child-category-template {
    width: 100%;
}
body{
    ul.products {
        padding: 20px 0px;
        max-width: 1600px;
    
            .empty_message {
                grid-column-start: 1;
                grid-column-end: 6;
                width: 100%;
                position: relative;
            }
    
    
    
        li.product {
            display: flex;
            flex-direction: column;
    
            .button.add_to_cart_button,
            a.added_to_cart {
                width: 100%;
                height: 40px;
                margin-bottom: 0;
                padding: 0px 20px;
                display: flex;
                justify-content: center;
                align-items: center;
    
                &.hide {
                    display: none;
                }
    
                margin-bottom: 10px;
            }
    
            .woocommerce-loop-product__title {
                min-height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            img {
                min-height: 300px;
                object-fit: contain;
                object-position: center;
            }
    
            &.product_cat-best-seller {
                position: relative;
    
                .price::after {
                    content: 'Best Seller';
                    position: relative;
                    width: 70%;
                    display: block;
                    background-color: var(--green);
                    text-transform: uppercase;
                    padding: 5px 15px;
                    right: 0;
                    bottom: 0;
                    translate: (-50%);
                    left: 50%;
                    border-radius: 5px;
                    color: white;
                    transition: all 0.3s;
                    font-size: 0.8rem;
                    font-weight: bold;
                }
            }
        }
    
        &.columns-3 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            margin: auto;
            width: 100%;
    
            @media (max-width: 1200px) {
                grid-template-columns: repeat(3, 1fr);
            }
    
            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }
    
            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    
        &.columns-4 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            margin: auto;
            width: 100%;
    
            @media (max-width: 1200px) {
                grid-template-columns: repeat(3, 1fr);
            }
    
            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }
    
            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    
        &.columns-5 {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 20px;
            margin: auto;
            width: 100%;
    
            @media (max-width: 1200px) {
                grid-template-columns: repeat(3, 1fr);
            }
    
            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }
    
            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    
        &::before,
        &::after {
            display: none !important;
        }
    
    
    }
}