@import '../../../../src/scss/abstracts/all.scss';

.tylt_adds {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    @include breakpoints(sm) {
        flex-direction: row;
    }
.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        min-width: 140px;
        width: 100%;
        max-width: 330px;
    }
}
    .lob-item {
        width: 100%;
        @include breakpoints(sm) {
            width: 30%;
        }
        display: flex;
        flex-direction: column;
        border-radius: $border-radius;
        background-color: $black;
        justify-content: center;
        align-items: center;
        padding: 30px;
        text-transform: uppercase;

        img {
            max-width: 50px;
            height: 50px;
        }

        h3 {
            min-height: 72px;
            text-align: center;
            display: flex;
            align-items: center;
            max-width: 300px;
        }

        h3,
        p {
            color: $white;
            margin: 0;
            padding: 0;

        }

        p {
            font-size: 0.7em;
        }
    }

}