@import '../../../../src/scss/abstracts/all.scss';
$transition-slider : transform 0.5s cubic-bezier(0.5, 5, 0.5, -1), opacity 0.2s ease-in-out;

.tylt_swiper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    margin-left: calc(0px - (5px + 5vw));
    margin-top: 20px;

    @include breakpoints(sm, max) {
        margin-top: 0px;

    }

    img {
        width: 100%;
        border-radius: 0px;
    }

    .swiper {
        visibility: hidden;
        display: none;
    }

    .slide.slick-slide {
        a {
            display: grid;
            grid-template-columns: auto 32.5%;
            grid-template-rows: 1fr;
            align-items: center;

            @include breakpoints(lg, max) {
                grid-template-columns: 1fr;
                align-items: end;
            }

            img {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }

            .banner-content {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 90px auto 20%;
                padding-left: 5vw;
                justify-items: start;
                align-items: center;
                text-align: left;
                gap: 10px;
                margin-bottom: 50px;

                @include breakpoints(xlg, max) {
                    grid-template-rows: 60px auto 20%;
                }
                       @include breakpoints(lg, max) {
                     grid-template-rows: 40px auto 20%;
                     gap: 5px;
                     margin-bottom: 70px;
                }

                @include breakpoints(md, max) {
                    margin-bottom: 100px;
                    grid-template-rows: auto auto 20%;
                }

                h1 {
                    color: $tylt-jaune;
                    font-size: 90px;
                    grid-row: 1;
                    text-align: left;
                    margin: 0px;
                    position: relative;
                    opacity: 0;
                    transform: translateX(-30px);
                    transition: $transition-slider;

                    @include breakpoints(xlg, max) {
                        font-size: 60px;
                    }
                     @include breakpoints(lg, max) {
                        font-size: 40px;
                    }

                    @include breakpoints(md, max) {
                        font-size: 40px;
                        word-break: break-all;
                    }


                }

                h2 {
                    color: $white;
                    font-size: 50px;
                    grid-row: 2;
                    text-align: left;
                    margin: 0px;
                    position: relative;
                    opacity: 0;
                    transform: translateX(-30px);
                    transition: $transition-slider;

                    @include breakpoints(xlg, max) {
                        font-size: 30px;
                    }

                    @include breakpoints(lg, max) {
                        font-size: 20px;
                    }

                    @include breakpoints(md, max) {
                        font-size: 20px;
                    }

                }

                .banner-button {
                    position: relative;
                    background-color: $tylt-jaune;
                    border: 1px solid $black;
                    text-align: center;
                    padding: 5px 25px;
                    width: fit-content;
                    font-family: $secondary-font-family;
                    color: $white;
                    border-radius: 30px;
                    opacity: 0;
                    transform: translateX(-30px);
                    transition: $transition-slider;

                    &:visited {
                        color: $black;
                    }

                    &:hover {
                        background: darken($tylt-jaune, 20%);
                        letter-spacing: 1px;
                    }

                    @include breakpoints(sm, max) {
                        grid-row: 3;
                        position: relative;
                        right: 0px;
                        bottom: 0px;

                    }
                }
            }
        }

        &.is-active {
            .banner-content {
                h1 {
                    opacity: 1;
                    transform: translateX(0);
                    transition-delay: 0;
                }

                h2 {
                    opacity: 1;
                    transform: translateX(0);
                    transition-delay: 0.2s;
                }

                .banner-button {
                    opacity: 1;
                    transform: translateX(0);
                    transition-delay: 0.3s;
                }
            }
        }
    }

    .slick-dots {
        position: absolute;
        width: 100%;
        bottom: 40px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: flex-start;
        left: 5vw;

        @include breakpoints(sm, max) {
            left: 5vw;
            margin-bottom: 20px;
        }

        li {
            margin: 0;
            background-color: $white;
            border-radius: 30px;
            width: 10px;
            height: 10px;
            transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            border: 2px solid white;

            &.slick-active {
                background-color: $tylt-orange;
                width: 30px;
            }

            &:hover {
                background-color: $tylt-jaune;
            }

            button {
                &:before {
                    content: '';
                }
            }
        }
    }
}